:root{}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.modal{
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blanchedalmond;
  height: 100dvh;
  width: 100%;
 
}
.modal-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  margin: 3em 0;
}

#playerboard,
#ingameboard,
#oppenentboard{
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
 
}
.cell{
  width: 30px;
  height: 30px;
  border: 1px solid black;
  cursor: pointer;
}
.ship-cell,.ship-placed{
  width: 30px;
  height: 30px;
  background-color: red;
  border: 1px solid black;
}

.draggable-ship-container{
  display: grid;
  padding: 0 1rem;
  min-width: 520px;
  grid-template-columns: repeat(2, 1fr);

}

.ship{
  display: flex;
  cursor:grab;
}
/* main */
main{
  display: none;
  justify-content: space-between;
  padding: 1rem;
} 
.modal-button{
  margin: auto;
  text-align: center;
  margin: 2em 0;
}